<!DOCTYPE html>

<head>
    <script src="{{{config.wwwroot}}}/blocks/ideal_cstatus/amd/src/circles/modal_centro/modal_centro.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
    //Cargar los estilos de manera dinamica
        window.onload = function() {
            var head = document.getElementsByTagName('head')[0]; 
            if (head) {
                var link = document.createElement('link');
                link.rel = 'stylesheet';
                link.type = 'text/css';
                link.href = '{{{config.wwwroot}}}/blocks/ideal_cstatus/amd/build/styles.min.css';
                head.appendChild(link); 
            }
        };
    </script>
</head>

<div class="container_main" id='container_main'>

    <div class="section_1">
        <div class="container_children">
            {{#circles}}
                {{#circle1}}
                    {{> block_ideal_cstatus/circles/1_circle}}
                {{/circle1}}
            {{/circles}}
            {{#circles}}
                {{#circle2}}
                    {{> block_ideal_cstatus/circles/2_circle}}
                {{/circle2}}
            {{/circles}}
            {{#circles}}
                {{#circle3}}
                    {{> block_ideal_cstatus/circles/3_circle}}
                {{/circle3}}
            {{/circles}}
            {{#circles}}
                {{#circle4}}
                    {{> block_ideal_cstatus/circles/4_circle}}
                {{/circle4}}
            {{/circles}}
            {{#circles}}
                {{#circle5}}
                    {{> block_ideal_cstatus/circles/5_circle}}
                {{/circle5}}
            {{/circles}}
        </div>
    </div>
    <div class="section_2" >
        <div class="Soft">
            {{#circles}}
                {{#circle6}}
                    {{> block_ideal_cstatus/circles/6_circle}}
                {{/circle6}}
            {{/circles}}
        </div>
        <div class="Ethical">
            {{#circles}}
                {{#circle7}}
                    {{> block_ideal_cstatus/circles/7_circle}}
                {{/circle7}}
            {{/circles}}
        </div>

                <div class="More">
            {{#circles}}
                {{#circle8}}
                    {{> block_ideal_cstatus/circles/8_circle}}
                {{/circle8}}
            {{/circles}}
                <div id='message_not_found' style="visibility:hidden">
                    {{#str}} error_render_img, block_ideal_cstatus {{/str}}
                </div> 
        </div>

    </div>
    <div id="legend_container" >
            <div id="description_legend">
                {{#str}} descriptionlegend, block_ideal_cstatus {{/str}}
            </div>
    <h3>{{#str}} lvl, block_ideal_cstatus {{/str}}
        <!--<img id="help_cstatus" style="width:25px; height:25px; margin 0 auto;" id="icon_help" src="../blocks/ideal_cstatus/templates/media/img/help.png" title="signo de interrogación iconos" alt="help icon">-->
    </h3>
    </div>
</div>
</body>
</html>